@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto), var(--font-nanum-gothic);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), var(--font-nanum-gothic), Arial, Helvetica,
    sans-serif;
}

/* 한글을 위한 클래스 */
.korean {
  font-family: var(--font-nanum-gothic), sans-serif;
}

/* 영어를 위한 클래스 */
.english {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 300;
}

/* 영어 이탤릭 */
.english-italic {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 300;
  font-style: italic;
}
